<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Fragmentos</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="/css/menu.css">
</head>
<body>

	<div class="sidebar" id="sidebar" th:fragment="menu">
		<img class="sidebar-logo" alt="Logo" src="/img/logo.png">
		<button class="toggle-btn" id="toggle-btn">
			<i class="fas fa-bars"></i>
		</button>
		<ul class="nav flex-column">
			<li class="nav-item"><a class="nav-link active" href="#"><i
					class="fas fa-home"></i><span>Dashboard</span></a></li>
			<li class="nav-item"><a class="nav-link" href="#"><i
					class="fas fa-box"></i><span>Product</span></a></li>
			<li class="nav-item"><a class="nav-link" href="#"><i
					class="fas fa-history"></i><span>History</span></a></li>
			<li class="nav-item"><a class="nav-link lg" href="/login"><i
					class="fas fa-sign-in-alt"></i><span>Login</span></a></li>
			<li class="nav-item"><a class="nav-link lg" href="/registro"><i
					class="fas fa-user-plus"></i><span>Sign Up</span></a></li>
			<li class="nav-item profile" th:if="${username}"><a class="nav-link"><i
					class="fas fa-user"></i><span th:text="${username}"></span></a></li>
		</ul>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
