@charset "UTF-8";

body {
    background-color: rgb(23, 24, 33);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: white;
}

.card .btn-primary {
    background-color: #007bff;
    border: none;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: white;
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.form-group label {
    color: white;
}
